<h3 class="title">Blue Forests of Ecuador</h3>

<p>
  The GEF Blue Forest interventions in Ecuador aim to increase understanding of the carbon storage and carbon sequestration services provided by mangroves. The project focuses on assessing concession agreements to protect mangroves, the valuation of ecosystem services, and the inclusion of these values in national climate-, biodiversity- and sustainability- related policies.
</p>

<%= gef_site_link('ecuador', 'Ecuador') %>
