<h3 class="title">Blue Forests of Ecuador</h3>

<p>
  The intervention aims to improve the understanding of ES and carbon storage
  and sequestration for mangrove ecosystems in Ecuador, and to develop improved
  ecosystem management founded on that understanding. GEF funds will support
  and enhance the existing mangrove concessions and the establishment of new
  ones that incorporate the value of mangrove ecosystem services.
</p>

<p>
  GEF funds will allow the concessions to be developed into internationally
  scalable experiences comparable with the other sub-project sites of the Blue
  Forests project. GEF funds will also support the incorporation of mangrove
  carbon storage and sequestration and other ecosystem services in national
  policy, fostering support for the Blue Forests concept on the international
  scale.
</p>
