<h3 class="title">Blue Forests of Indonesia</h3>

<p>
  The overall aim of the GEF Blue Forests project in Indonesia is to support the development of a national blue forests policy. The project provides an opportunity to improve understanding of ecosystem services offered by blue forests and support the management of mangrove and seagrass ecosystems.
</p>

<%= gef_site_link('indonesia', 'Indonesia') %>
