<h3 class="title">Blue Forests of Indonesia</h3>

<p>
  The focus of the GEF Blue Forests Project small-scale intervention titled
  ‘Indonesia Blue Forest Project’ is to advance the Blue Forests concept at
  the national scale in the Republic of Indonesia. This will be accomplished
  through the project’s goals of improving understanding of the Blue Forests
  concept, creating a unified voice for the advancement of a Blue Forests
  policy in Indonesia, and expanding the baseline of understanding for carbon
  accounting and the valuation of ecosystem services for mangrove and
  seagrass habitats at two project sites.
</p>

<p>
  Targeted research by the government of Indonesia on the carbon stocks and
  the valuation of services provided by Blue Forest ecosystems, focused on
  the mangrove ecosystems in Tomini Bay located in the north of Sulawesi, and
  the Derawan Islands located on the eastern coast of the island of Borneo.
  As will be the case in the research of mangrove ecosystems, research in
  seagrass ecosystems will also focus on the assessment of carbon stocks,
  carbon sequestration and ecosystem services.
</p>

<p>
  Improving the understanding, management and policy related to the Blue
  Forests concept in Indonesia will be facilitated through a ‘National Blue
  Carbon Center’, which will provide a central forum for all Indonesian blue
  forest stakeholders.
</p>
