<h3 class="title">Blue Forests of Madagascar</h3>

<p>
  Madagascar’s Blue Forest project aim is to increase the resilience and adaptation capacity of coastal communities to climate change. The interventions focus on advancing a REDD+ project that will be verifiable by the Carbon Community and Biodiversity Standard (CCBS) and Voluntary Carbon Standard (VCS).  
</p>

<%= gef_site_link('madagascar', 'Madagascar') %>
