<h3 class="title">Blue Forests of Madagascar</h3>

<p>
  The focus of the GEF Blue Forests Project small-scale intervention entitled
  ‘Madagascar Blue Forests Project’ is the application of blue forests
  methodologies and approaches for valuing carbon and other ecosystem services
  (ES). This will be accomplished through the project’s goals of improving the
  understanding of ES and carbon storage and sequestration for mangrove
  ecosystems in Madagascar, and by developing improved ecosystem management
  founded upon that understanding at three project sites.
</p>

<p>
  The overall goal to which this project will contribute is to increase the
  resilience and adaptation capacity of coastal communities to climate change
  through the continued provision of ecosystem services on which they are
  dependent.
</p>

<p>
  The intervention’s major focus is the advancing of a REDD+ project that will
  be verifiable by the Carbon Community and Biodiversity Standard (CCBS) and
  Voluntary Carbon Standard (VCS). The purpose of this focus is to demonstrate
  both the importance and feasibility of mangrove REDD+ and so catalyze the
  development of income-generating mangrove REDD+ projects for Malagasy coastal
  communities. The long-term objective this project is to implement a VCS REDD+
  project.
</p>


