<h3 class="title">Blue Forests of Mozambique</h3>

<p>
  The focus of the GEF Blue Forests Project small-scale intervention entitled
  ‘Mozambique Blue Forest Project’ is the application of blue forests
  methodologies and approaches for valuing carbon and other ecosystem services
  (ES). The intervention aims to improve the understanding of ES and carbon
  storage and sequestration for mangrove ecosystems in Mozambique, and to
  develop improved ecosystem management founded upon that understanding.
</p>

<p>
  The project’s main goal is to advance a REDD+ scheme through the production
  of a Project Design Document (PDD) for carbon finance application in the
  Zambezi delta applicable to an area covering a total of 25,000 ha. A PDD is
  the key document involved in the validation and registration of a Clean
  Development Mechanism (CDM) project activity. GEF Blue Forests’ funds will
  support and enhance the existing national goals regarding mangrove
  conservation, national REDD strategy, and blue forests related policy
  assessment. GEF funds will allow this intervention to be developed into an
  internationally scalable experience comparable with the other intervention
  sites within the Blue Forests Project as well as with other external
  international initiatives
</p>


