<h3 class="title">Blue Forests of Mozambique</h3>

<p>
  The Mozambique Blue Forest project area is located within the wider landscape of the Zambezi River Delta and Marromeu Complex in the Coastal East Africa Region. The GEF Blue Forests project will support national priorities related to coastal management, especially pertaining to the protection of mangrove ecosystems.
</p>

<%= gef_site_link('mozambique', 'Mozambique') %>
