<h3 class="title">Blue Forests of the United Arab Emirates</h3>

<p>
  The Abu Dhabi Global Environmental Data Initiative (AGEDI), supported by the
  Environment Agency – Abu Dhabi (EAD) recently launched a pioneering ‘Blue
  Carbon’ project that connects the local natural coastal ecosystem management
  with climate change mitigation.
</p>

<p>
  The Abu Dhabi Global Environmental Data Initiative (AGEDI), supported by the
  Environment Agency – Abu Dhabi (EAD) recently launched a pioneering ‘Blue
  Carbon’ project that connects the local natural coastal ecosystem management
  with climate change mitigation.
</p>
