<h3 class="title">Blue Forests of the United Arab Emirates</h3>

<p>
  The GEF Blue Forests project provides an opportunity for the United Arab Emirates and the Emirate of Abu Dhabi to improve understanding of ecosystem services and management of blue forest ecosystems in the Arabian Gulf. Regionally, this project serves to demonstrate how to promote nature-based mitigation of carbon emissions, while also preserving other values provided by blue forest ecosystems.
</p>

<%= gef_site_link('abu-dhabi', 'Abu Dhabi') %>
