<div class="page-header">
  <%= link_to admins_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end if can? :manage, Admin %>
  <%= link_to @admin, :class => 'btn btn-primary' do %>
    <i class="icon-info-sign icon-white"></i>
    Show
  <% end %>
  <h1>Editing admin</h1>
</div>

<%= render 'form' %>
