@import "colors";

.dropdown {
  position: relative;

  .dropdown__trigger {
    color: $dark-blue;
  }

  .dropdown__target {
    position: absolute;
    padding: .5rem 1.5rem;
    border: solid 2px $light-gray;
    background-color: $white;
    z-index: 9999;
    left: 0%;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $light-gray;
      top: -12px;
      position: absolute;
      left: 50%;
      margin-left: -5px;
    }
  }

  .dropdown__item {
    display: block;
    color: $dark-blue;
    font-weight: 500;
    margin: .75rem 0;
  }

  .dropdown__item--nested {
    margin-left: -1rem;

    i {
      font-size: .75rem;
      vertical-align: middle;
    }
  }

  hr {
    box-sizing: content-box;
    height: 0;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: 1rem;
    border: 1px solid;
  }
}
