@import '../colors';
@import 'flexbox';

@mixin main-logo() {
  width: auto;
  height: 2em;
  margin-right: 15px;
}

@mixin mapping-tool($color) {
  line-height: 1.1em;
  border-left: solid 2px $color;

  font-weight: 100;
  font-size: 1.5em;
  color: $color;

  padding-left: 10px;
}

@mixin home-link($version) {
  @extend %flexbox;
  @include justify-content(center);
  @include align-items(center);

  text-decoration: none;

  @if $version == color {
    .mapping-tool { @include mapping-tool($dark-blue); }
    .main-logo { @include main-logo(); }
  } @else {
    .mapping-tool { @include mapping-tool($white); }
    .main-logo { @include main-logo(); }
  }
}

