@import '../colors';

@mixin link-with-icon($icon) {
  font-weight: 500;
  line-height: 2em;
  color: $dark-blue;

  display: inline-block;

  &::after {
    float: right;
    margin-left: 7px;

    content: "";

    width: 1.5em;
    height: 2em;

    background-image: url(image-path("entypo/#{$icon}.svg"));
    background-repeat: no-repeat;
    background-position: center center;
  }
}
