@import '../colors.scss';

.methodology-text {
  margin: 10px 0;

  a {
    color: $dark-blue;
    font-weight: 500;

    &:hover { text-decoration: underline; }
  }

  &__wrapper {
    padding: 0 1.5rem;
  }
}