@import "susy";
@import "sassy-buttons";

$dark-blue: #2b3038;
$dark-gray: #373737;
$light-blue: #259dd7; //#384658;
$green-light: #bdd455;
$green-dark: #9eb436;
$corporate-green: #6dad67;
$orange-light: #f2964c;
$orange-dark: #d2752c;
$gray-background: #ededed;
$gray-logo: #f0f0f0;

// Buttons
$corporate-green-dark:         #70af6a; //#476d44;
$corporate-green-light:        #a3d39e; //#6baa65;
$corporate-green-dark-hover:   #70af6a;
$corporate-green-light-hover:  #a3d39e;

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$break: 12;
$big: 10em;

body {
  background-color: $gray-background;
  font-family: 'Montserrat', Arial, 'Helvetica Neue', sans-serif;

  a.button {
    @include sassy-button("matte", 6px, 1em, $corporate-green-light, $corporate-green-dark, #fff, "inset");
    margin: 16px 0;
  }

  h3 {
    border-bottom: 1px solid black; 
  }

  p {
    font: 10pt Helvetica;
    line-height: 1.5em;
  }

  p.footnote, span.i {
    font-style: italic;
  }

  div.small p {
    font-size: 10pt;
  }

  p.bold {
    font-weight: bold;
  }

  p.big-bold {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 16px;
    margin-bottom: 45px;
  }

  span.big {
    font-size: 1.2em;
  }

  span.light-blue, p.light-blue {
    color: $light-blue;
  }

  .light-blue.ar {
    font-size: 1.6em;
  }


  #img-mangroves {
    width: 462px;
    margin-top: 9px;
  }

  #img-out-on-sea {
    float: right;
    margin-left: 6px;
  }

  #img-mangroves-nursery {
    margin-top: 9px;
  }

  #img-in-the-field {
    margin-top: 16px;
  }

  .img-footer-supporters {
    padding-top: 10px;
  }

  #img-help-screenshot {
    padding-top: 19px;
  }

  form {
    margin-left: 19px;
    margin-bottom: 10px;
  }
}

body.matted {
  background-color: $gray-background;
  background-image:
    linear-gradient(rgba(0,0,0,.015) 1px, transparent 1px),
    linear-gradient(0, rgba(0,0,0,.015) 1px, transparent 1px);
  background-size:5px 5px;
  background-position:-1px -1px, -1px -1px
}

.upper {
  text-transform: uppercase;
}

.page {
  // For debugging!
  //@include susy-grid-background;


  // Notice the title and footer sections are out of the 12 columns container
  .banner, .content { @include container; }

  header {
    background-color: $corporate-green;
    .outer {
      height: 13px;
      background-color: #fff;
    }
    .inner { 
      @include container;

      .banner { 
        @include span-columns(5,$total-columns);
        font-size: 12pt;
        font-weight: normal;
        padding-left: 3px;
        padding-top: 3px;
      }
      .nav {
        @include span-columns(6 omega,$total-columns);
        #tool {
          @include span-columns(2,$break);
        }
        #help { 
          @include span-columns(2,$break);
        }
        #about { @include span-columns(2,$break); }
        #language { 
          @include suffix(4);
          @include span-columns(2 omega,$break);
        }
        font-size: 1em;
        margin-top: 35px;
        text-align: right;
        text-align: center;
      }

      height: 84px;
      position: relative;
      img {
        position: absolute;
      }
      img.one {
        top: -16px;
        position: relative;
      }
      img.two {
        top: 0;
        right: 10px;
        z-index: 1;
      }
      a.agedi {
        position: absolute;
        right: 30px;
        top: -23px;
        color: $corporate-green;
        font-size: 1.3em;
        letter-spacing: -1px;
      }
    }
    margin-top: 0;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: $dark-gray;
      padding-top: 25px;
      position: relative;
      z-index: 2;
    }
    a:hover {
      color: #fff;
    }
    #about.about a, #help.help a {
      color: #fff;
    }
  }

  header.white {
    background-color: #fff;
  }

  div.title {
    .inner { @include container; }
    height: 500px;
    background-image: url(/assets/pages/homepage-map.jpg);
    background-repeat: no-repeat;
    background-position: center 10%;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 4.8em;
      padding-top: 1.6em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .content {
    .left {
      @include span-columns(6,$total-columns);
    }
    .right {
      @include span-columns(6 omega,$total-columns);
    }
    .content-three {
      @include span-columns(3,$total-columns);
    }
    .content-three-centre {
      @include span-columns(6,$total-columns);
    }
    .content-three-last {
      @include span-columns(3 omega,$total-columns);
    }
    margin-top: 40px;
    margin-bottom: 30px;
    h3 {
      margin-top: 16px;
    }
  }

  .content.grey {
    background-color: $gray-logo; //lighten($gray-background, 4%);
    padding-top: $grid-padding;
    border-radius: 12px;
  }

  // About page
  .content-full {
    .inner { @include container; }
    div.full {
      @include span-columns($total-columns,$total-columns);
      h3 { margin-bottom: 0; }
    }

    .ecosystems h3 {
      h3 { margin-bottom: 0; }
    }

    #blue-carbon-ecosystem {
      @include span-columns(3, 5);
    }
    #blue-carbon-ecosystem.right {
      @include span-columns(3 omega, 5);
    }

    #associated-ecosystem {
      @include span-columns(1,5);
    }
    
    #candidate-ecosystem {
      @include span-columns(1 omega, 5);
    }
    #candidate-ecosystem.right {
      @include span-columns(1, 5);
    }

    .left {
      @include span-columns(6,$total-columns);
    }
    .right {
      @include span-columns(6 omega,$total-columns);
    }

    #mangroves, #cyanobacterial_mats, #seagrass, #saltmarshes {
      @include span-columns(1,5);
    }
    #mangroves.right {
      @include span-columns(1 omega,5);
    }
    #sabkha {
      @include span-columns(1 omega,5);
    }
    #sabkha.right {
      @include span-columns(1,5);
    }

    margin-top: 40px;
    p.light-blue {
      padding-bottom: 20px;
    }
    p.light-blue.ar {
      padding-bottom: 37px;
    }
    p.light-blue.doubble {
      padding-bottom: 0;
    }
  }

  .content-full.white {
    background-color: #fff;
  }

  .content-full.no-margin {
    margin-top: 0;
    padding-top: 20px;
  }

  footer {
    .inner { @include container; }
    #attributions { 
      //@include susy-grid-background;
      @include span-columns(8,$break); 
    }
    #authentication { 
      @include span-columns(3,$break); 
      text-align: right;
      input[type=submit] {
        margin-right: 21px;
      }
    }
    #contact { 
      @include span-columns(1 omega,$break); 
      text-align: right;
    }
    height: 150px;
    background-color: #fff;
    padding-top: 1.5em;
    a {
      text-decoration: none;
      font-size: 11pt;
      text-transform: uppercase;
      color: #000;
    }
    li {
      list-style-type: none;
    }
  }


}

