$dark-blue: #2b3038;
$dark-gray: #373737;
$light-blue: #259dd7; //#384658;
$green-light: #bdd455;
$green-dark: #9eb436;
$corporate-green: #6dad67;
$orange-light: #f2964c;
$orange-dark: #d2752c;
$gray-background: #ededed;
$gray-logo: #f0f0f0;

// Buttons
$corporate-green-dark:         #70af6a; //#476d44;
$corporate-green-light:        #a3d39e; //#6baa65;
$corporate-green-dark-hover:   #70af6a;
$corporate-green-light-hover:  #a3d39e;

$total-columns         : 6;
$break                 : 12;
$total-ecosys-columns  : 3;
$ecosys-break          : 5;
$column-width          : 4em;
$gutter-width          : 1em;
$break-em              : 50em;
$grid-padding          : $gutter-width;
//$container-style       : static;

.hidden {
  display: none;
}

body {
  background-color: $gray-background;
  font-family: 'Montserrat', Arial, 'Helvetica Neue', sans-serif;

  a.button {
    margin: 16px 0;
  }

  h3 {
    border-bottom: 1px solid black;
  }

  p {
    font: 10pt Helvetica;
    line-height: 1.5em;
  }

  p.footnote, span.i {
    font-style: italic;
  }

  div.small p {
    font-size: 10pt;
  }

  p.bold {
	  font-family: 'Montserrat', Arial, 'Helvetica Neue', sans-serif;
    font-weight: bold;
		color: #1596d4;
  }

  p.big-bold {
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 16px;
    margin-bottom: 45px;
  }

  span.big {
    font-size: 1.2em;
  }

  span.light-blue, p.light-blue {
    color: $light-blue;
  }

  .light-blue.ar {
    font-size: 1.6em;
  }

  #img-mangroves {
    width: 462px;
    margin-top: 50px;
  }

  #img-out-on-sea {
    float: right;
    margin-left: 6px;
  }

  #img-mangroves-nursery {
    margin-top: 9px;
  }

  #img-in-the-field {
    margin-top: 16px;
  }

  .img-footer-supporters {
    padding-top: 10px;
  }

  #img-help-screenshot {
    padding-top: 19px;
  }

  form {
    margin-left: 19px;
    margin-bottom: 10px;
  }
}

body.matted {
  background-color: $gray-background;
  background-image:
    linear-gradient(rgba(0,0,0,.015) 1px, transparent 1px),
    linear-gradient(0, rgba(0,0,0,.015) 1px, transparent 1px);
  background-size:5px 5px;
  background-position:-1px -1px, -1px -1px
}

.upper {
  text-transform: uppercase;
}

.page {
  // Notice the title and footer sections are out of the 12 columns container

  header {
    background-color: $corporate-green;
    .outer {
      height: 13px;
      background-color: #fff;
    }
    margin-top: 0;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: $dark-gray;
      padding-top: 25px;
      position: relative;
      z-index: 2;
    }
    a:hover {
      color: #fff;
    }
    #about.about a, #help.help a {
      color: #fff;
    }
  }

  header.white {
    background-color: #fff;
  }

  div.title {
    height: 500px;
    background-image: url(/assets/pages/homepage-map.jpg);
    background-repeat: no-repeat;
    background-position: center 10%;
    color: #fff;
    text-align: center;
    h1 {
      font-size: 4.8em;
      padding-top: 1.6em;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .content {
    margin-top: 40px;
    margin-bottom: 30px;
    h3 {
      margin-top: 23px;
    }
  }

  .content.grey {
    background-color: $gray-logo; //lighten($gray-background, 4%);
    padding-top: $grid-padding;
    border-radius: 12px;
  }

  // About page
  .content-full {

    .ecosystems h3 {
      h3 { margin-bottom: 0; }
    }
    margin-top: 40px;
    p.light-blue {
      padding-bottom: 20px;
			text-transform: uppercase;
			font-weight: bold;
    }
    p.light-blue.ar {
      padding-bottom: 37px;
    }
    p.light-blue.fix-orphans {
      padding-top: 13px;
    }
    p.light-blue.fix-orphans.ar {
      padding-top: 19px;
    }
    p.light-blue.doubble {
      margin-top: 0;
      padding-bottom: 0;
    }

    p.light-blue.doubble.fix-orphans{
            margin-top: -17px;
            margin-bottom: 10px;
    }

    p.light-blue.doubble.ar {
      padding-bottom: 37px;
    }
  }

  .content-full.white {
    background-color: #fff;
  }

  .content-full.no-margin {
    margin-top: 0;
    padding-top: 20px;
  }
}

