<div class="page-header">
  <%= link_to habitats_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>Habitat</h1>
</div>

<dl>
  <dt>Name:</dt>
  <dd><%= @habitat.name %></dd>
</dl>
