<form id="validation" name="validation">
  <div class="control-group" id="type">
    <div class="btn-group" data-toggle="buttons-radio">
      <input type="radio" id="validate" name="radio-group" data-toggle="button">
      <label class="btn" for="validate">Validate</label>

      <input type="radio" id="add" name="radio-group" data-toggle="button">
      <label class="btn" for="add">Add</label>

      <input type="radio" id="delete" name="radio-group" data-toggle="button">
      <label class="btn" for="delete">Delete</label>
    </div>
  </div>

  <select id="knowledge" name="knowledge">
    <option>Validation evidence type</option>
  </select>

  <select id="habitat" name="habitat">
    <option>Habitat</option>
    <option>Seagrass</option>
    <option>Mangroves</option>
    <option>Sabkha</option>
    <option>Saltmarshes</option>
  </select>

  <div class="control-group">
    <label class="control-label" for="density">Density</label>
    <div class="controls">
      <select id="density" name="density">
        <option>1 - thin</option>
      </select>
    </div>

    <label class="control-label" for="age">Age of Habitat</label>
    <div class="controls">
      <select id="age" name="age">
        <option>Unknown</option>
      </select>
    <div>
  </div>

  <hr>

  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="name" name="name" value="<%= name %>">
    </div>
  </div>

  <p>
    <button id="save" class="btn btn-primary" type="button">Save Habitat Data</button>
  </p>
</form>
