<table id="validations-table" class="table table-bordered table-striped">
    <tr>
      <th>Coordinates</th>
      <th>Action</th>
      <th>Recorded at</th>
      <th>Area</th>
      <th></th>
    </tr>

</table>
