<table id="validations-table" class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Recorded at</th>
      <th>Edit Type</th>
      <th></th>
      <th></th>
    </tr>

</table>
