@import '../colors';

@import '../elements/main-container';
@import '../elements/home-link';
@import '../elements/navigation-links';
@import '../elements/row';

#footer {
  font-weight: 100;
  font-size: 13px;
  width: 100%;

  background-color: $dark-blue;

  .main-container {
    @include main-container($dark-blue);
    color: $white;

    .row {
      @include row-divider(2px, $white);

      .home-link        { @include home-link(white) }
      .navigation-links { @include navigation-links($white) }

      &:last-child {
        line-height: 3em;
        .flag-icon {
          line-height: inherit;
          padding: 0px 10px;
          width: auto;
          background-color: $very-dark-blue;
        }
      }
    }

  }
}
