@import '../colors';

@import '../elements/main-container';
@import '../elements/home-link';
@import '../elements/navigation-links';

#header {
  font-size: 16px;

  height: 100px;
  width: 100%;

  .main-container {
    @extend %main-container;

    .home-link        { @include home-link(color) }
    .navigation-links { @include navigation-links($dark-blue) }
  }
}

