<%= content_for :title, "Edit user" %>

<div class="admin">
  <div class="admin__header">
    <h1 class="admin__title">Editing User</h1>

    <div class="admin__right">
      <% if can? :manage, @user %>
        <%= link_to @user, :class => 'admin__header-element button' do %>
          <i class="icon-info-sign icon-white"></i> Show
        <% end %>
      <% end %>

      <% if can? :manage, @user %>
        <%= link_to user_path(@user), :method => :delete, :confirm => "Are you sure?", :class => 'admin__header-element button button--danger' do %>
          <i class="icon-remove icon-white"></i> Delete
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render 'form' %>
</div>
