<%= content_for :title, "New user" %>

<div class="admin">
  <div class="admin__header">
    <h1 class="admin__title">New User</h1>
    <%= link_to users_path, class: "button" do %>
      <i class="icon-list-alt"></i> Back
    <% end %>
  </div>

  <%= render "form" %>
</div>
