<div class="admin__header-element dropdown">
  <a class="dropdown__trigger" data-toggle-trigger="filter" id="country-select" href="#">
    Filter by country <i class="fa fa-chevron-down"></i>
    <span class="caret"></span>
  </a>
  <div class="dropdown__target u-hide" data-toggle-target="filter">
    <% Country.pluck(:id, :name).each do |id, name| %>
      <%= link_to name, send(path, country_id: id), class: "dropdown__item" %>
    <% end %>
  </div>
</div>
