<div class="content grey">
  <div class="left">
    <img src="/assets/pages/AD_Mangrove_under_development.jpg" alt="AD Mangrove under development">
    <a name="demonstration"><h3>المشروع الإرشادي لدراسة الكربون الأزرق</h3></a>
    <p>فقط، من مجرد قرية
ً
انتقلت إمارة أبوظبي، خال ٠٤ عاما
صغيرة تعتمد على صيد الأسماك بشكل أساسي إلى أكبر
في دولة الإمارات العربية
ً
وأكثر الإمارات السبع سكانا
المتحدة، وذلك بفضل رؤية وتوجيهات المغفور له سمو
ً
جوهريا
ً
الشيخ زايد بن سلطان آل نهيان، وأصبحت البيئة عنصرا
في تراث وتقاليد الشعب الإماراتي..</p>
  <p>وأدى هذا الترابط بين البحر والطبيعة من حوله إلى توجيه
مشروع أبوظبي الإرشادي للكربون الأزرق، لاستكشاف القيم التي
توفرها النظم البيئية لدولة الإمارات العربية المتحدة، بالإضافة إلى
المساعدة في حماية التراث البيئي والثقافي للدولة، ومن المتوقع
.
ً
أن يستغرق المشروع حوالي ٢١ ش</p>
  </div>
  <div class="right">
    <img src="/assets/pages/1U6A0911.jpg" alt="The team">
    <h3>فريق عمل المشروع</h3>
    <p>مشروع أبوظبي الإرشادي للكربون الأزرق تديره مبادرة أبوظبي
العالمية للبيانات البيئية بدعم من فريق من الخبراء من برنامج الأمم
المتحدة للبيئة / غريد – أرندال، برنامج الأمم المتحدة للبيئة ”يونيب“،
والمركز العالمي لرصد الطبيعة التابع لبرنامج الأمم المتحدة ، ومؤسسة
اتجاهات الغابات ، فورست تريندس، بالإضافة إلى فريق عالمي من
الخبراء المختصين الكربون الساحلي.</p>
  </div>
  <img src="/assets/pages/about_logos.png" alt="Supporters" id="img-supporters">
</div>

<div class="content-full white">
  <div class="inner">
    <div class="left">
      <h3>آداة تقييم الكربون الأزرق</h3>
      <p>تُستعمل الأداة في إجراء تقييم شامل حول تأثير خطط التطوير على الموائل الساحلية وتحديد نسب الكربون الأزرق المختزن فيها، ممّا سيُعزّز صحة اتخاذ القرارات السليمة المرتبطة بخطط التنمية المستقبلية في إمارة أبو ظبي. 
لمزيد من المعلومات حول كيفية استعمال الأداة يُمكنكم زيارة صفحة المساعدة.</p>
      <img src="/assets/pages/2007-11-23 at 00-17-44.jpg" alt="Mangroves" id="img-mangroves">
    </div>
    <div class="right">
      <h3>نبذة عن البيانات</h3>
      <p><img src="/assets/pages/out_on_sea.png" alt="Out on sea" id="img-out-on-sea">وفّرت هيئة البيئة في إمارة أبو ظبي المعلومات الضرورية حول المكوّنات الأساسية التي تتألّف منها الموائل الساحلية لإمارة أبو ظبي (كأشجار القرم، السبخات الملحية، الأعشاب البحرية والمسطحات الطينية مع الطحالب الخضراء المزرقة). وتمّ رصد  تلك البيانات من خلال عمليات ميدانية شاملة لجمع العيّنات وباستعمال  صور عبر الأقمار الصناعية تمّ التقاطها عبر لاندسات Landsat  و رابيد آي RapidEye . كما تمّ تعزيز الموائل من خلال معلومات إضافية قدّمتها الجهات الاستشارية المعنية عقب حملة التقييم المحليّة والوطنية والإقليمية للتنوّع البيئي، والتي جرت ما بين العامين 2011 و2013 في إمارة أبو ظبي. ويتم العمل على تحديث المعلومات حول هذه الموائل بشكل متواصل لإظهار طبيعة الأحداث في الموائل الساحلية لإمارة أبو ظبي.</p>
    </div>
  </div>
</div>

<div class="content-full white no-margin">
  <div class="inner">
    <div class="left">
    <h4>حساب مخزونات الكربون في مناطق دائرة الاهتمام AOI</h4>
    <p>يتم تقييم مخزونات الكربون من خلال قياس الكمّيات الموجودة في كل من الموائل ، ويتمّ تقديرها عبرعمليات قياس ميدانية.</p>
    <p>إنّ المعلومات الإضافية حول الموائل الطبيعية كتلك المتعلّقة بكثافة النباتات وعمرها وطبيعتها (سواءً كانت طبيعية أو مزروعة) تُساهم في رفع مستوى التقديرات العلمية. كما أنّ نوعية هذه التقديرات ستزداد مع مرور الوقت لأنّ قواعد البيانات الدقيقة ستتوافر بشكل أكبر. </p>
    <p>إنّ المعلومات الإضافية حول الموائل الطبيعية كتلك المتعلّقة بكثافة النباتات وعمرها وطبيعتها (سواءً كانت طبيعية أو مزروعة) تُساهم في رفع مستوى التقديرات العلمية. كما أنّ نوعية هذه التقديرات ستزداد مع مرور الوقت لأنّ قواعد البيانات الدقيقة ستتوافر بشكل أكبر. </p>
    <p>تشتمل البيانات الناتجة حول مخزونات الكربون على:</p>
    <p><span class="light-blue"> إجمالي مخزونات الكربون:</span> تُمثّل هذه النتيجة بيانات تقديرية  حول عدد أطنان الكربون الموجودة في المنطقة الواقعة ضمن دائرة الاهتمام والتي تجمع جميع موائل الكربون الأزرق.</p>
    <p><span class="light-blue">المنطقة الإجمالية:</span>  تُظهر بالكيلومتر المربّع المنطقة الإجمالية المُغطّاة داخل المنطقة الواقعة ضمن دائرة الاهتمام.</p>
    <p><span class="light-blue">انبعاثات ثاني أكسيد الكربون لكل فرد:</span> تزودنا تقديراً حول متوسّط كميّة ثاني أكسيد الكربون الناتجة عن كل مواطن في الإمارات العربية المتّحدة. ويُمكن حسابه اما بعدد الأيام أوالسنين وذلك وفقاً لحجم الانتاجية. إنّ تقدير نتاج ثاني أكسيد الكربون المستخدم هناً هو 20,87 طنّاً، حسب تقدير عام 2011 الصادرعن مركز الأبحاث المشترك التابع للمفوضية الأوروبية .<sup>1</sup>.</p>
    </div>
    <div class="right">
    <p>تزود موائل مخزونات الكربون الأزرق في هذه المنطقة بياناً تفصيلاً حول المساحة التي يشغلها كل موئل بيئي من إجمالي المساحة بالكيلومتر المربّع، إضافة إلى النسبة التي يُغطّيها الموئل من إجمالي مساحتة الكلّية في إمارة أبو ظبي، وأخيراً مخزون الكربون بالأطنان ضمن المنطقة المعنية أو ذات الاهتمام.
 </p>
    <p class="footnote">1 &#8211; مركز الأبحاث المشترك  للمفوضية الأوروبية  (جاي أر سي JRC) / بي بي أل PBL التابع لهيئة التقييم البيئية في هولندا. قاعدة بيانات الانبعاثات للبحث الجوّي العالمي، النسخة 4.2 
 
http://edgar.jrc.ec.europe.eu، 2011.
بتاريخ 28 أبريل 2013.
 </p>
    <img src="/assets/pages/2011-07-20 at 06-00-24.jpg" alt="mangroves nursery" id="img-mangroves-nursery">
    </div>  
  </div>
</div>

<div class="content-full">
  <div class="inner">
    <div class="full"><a name="what-is"><h3>ما هو الكربون الأزرق ؟</h3></a></div>
    <div class="left">
      <p>بالإضافة إلى فوائدها المتعلقة بالمناخ، توفر النظم البيئية للكربون
الأزرق خدمات قيمة للأنظمة البيئية الساحلية، مثل حماية الشواطئ
ودعم السياحة الشاطئية، وتوفير الموائل للأسماك والعديد من
الكائنات. هذا بالإضافة إلى قيمتها الثقافية والاجتماعية. المحافظة
على واستعادة النظم البيئية للكربون الأزرق يمكن تمويلها من خال
مشروعات ” الدفع للحصول على خدمات النظم البيئية“.</p>
      <p>عزز مفهوم الكربون الأزرق من الاهتمام بإدارة والمحافظة
على النظم البيئية الساحلية، ودعم جهود تخفيف آثار التغير
المناخي. ومع ذلك لا تزال توجد فجوات في فهم الكربون
الأزرق، نحتاج إلى التشجيع للتأكد من تطبيق أكثر لممارسات
إدارة الاستدامة البيئية.</p>
    </div>
    <div class="right">
      <img src="/assets/pages/in_the_field.png" alt="In the field" id="img-in-the-field">
    </div>
  </div>
</div>

<div class="content-full">
  <div class="inner-e ecosystems">

    <div class="core-ecosystems">
      <div class="right" id="blue-carbon-ecosystem"><h3 class="upper">النظم البيئية للكربون الأزرق في أبوظبي</h3></div>
      <div id="mangroves" class="right">
        <p class="light-blue ar">أشجار القرم</p>
        <img src="/assets/pages/mangroves.png" alt="Mangroves" id="img-mangroves-small">
        <p>تعتبر أشجار القرم أحد أبرز النظم البيئية المرئية للكربون الأزرق، حيث تمتد على مساحة 68 كيلومتر مربع بطول ساحل دولة الإمارات العربية المتحدة. يمثل جزء من غابات القرم الواقعة في شرق أبوظبي أول أشجار للقرم تمت زراعتها في العالم ويعود تاريخ زراعتها إلى عام 1966. وبمرور العقود اتسعت ممارسات زراعة أشجار القرم بطول سواحل دولة الإمارات العربية المتحدة، وقد حققت زراعتها نجاحاً ملحوظاً خاصة في المواقع المحمية المتاخمة للأشجار الموجودة بالفعل. هناك نوع من الأشجار (القرم الرمادي)، معروف محلياً باسم “ القرم” يعتبر من النباتات المحلية الأصلية في إمارة أبوظبي. كما يوفر الهيكل الكثيف والمعقد للأشجار المزروعة قديماً موئلاً غنياً للأسماك ولغيرها من الأنواع والكائنات.</p>
      </div>
      <div id="seagrass" class="right">
        <p class="light-blue ar">الأعشاب البحرية</p>
        <img src="/assets/pages/seagrass.png" alt="Seagrass" id="img-seagrass">
        <p>أقل رؤية، نظراً لوجودها تحت خط المياه، تستضيف أبوظبي أحد أكبر وأوسع المروج البحرية الخضراء وأكثرها تعقيداُ، فهي تمثل الغذاء الرئيسي لثاني أكبر عدد من أبقار البحر في العالم. هذه المروج تتزين بثلاثة أنواع من الأعشاب البحرية منها: ضيقة الأوراق، وواسعة الأوراق والمجداف، والتي توجد بالقرب من الشاطئ وحول الجزر على عمق حوالي 8 أمتار. ومثل السبخات الملحية وأشجار القرم، تراكم الكثير من الأعشاب البحرية الكربون في التربة من خلال إنتاج وتخزين مواد الجذور.</p>
      </div>
      <div id="saltmarshes" class="right">
        <p class="light-blue ar">السبخات الملحية</p>
        <img src="/assets/pages/saltmarsh.png" alt="Saltmarsh" id="img-saltmarsh">
        <p>تعتبر السبخات الملحية نادرة نسبياً في الإمارة، وتتواجد محلياً في أماكن المد العالي خلف أشجار القرم. يتكون الغطاء النباتي من شجيرات قصيرة تتميز بتحملها للملوحة من النباتات السرمقية والعائلة الرطريطية، بالإضافة إلى نبات الذانون المستخدم كدواء في المنطقة الشرقية/p>
      </div>
    </div>

    <div class="other-ecosystems" class="right">  
      <div class="right" id="associated-ecosystem"><h3 class="upper">النظم البيئية ذات الصلة</h3></div>
      <div id="sabkha">
        <p class="light-blue ar fix-orphans">سبخات</p>
        <img src="/assets/pages/sabkha.png" alt="Sabkha" id="img-sabkha">
        <p>على الأراضي الأكثر ارتفاعاً بعيداً عن حافة المياه، وفي المناطق التي ترتفع فيها نسبة الملوحة بشدة (2-4 مرات أكبر من مياه البحر)، توجد أصعب الظروف الحياتية في المساحات الواسعة للمسطحات الملحية في السبخات الساحلية التي يغمرها المد العالي بشكل موسمي. ورغم أنها كانت تعتبر في بداية المشروع من الموائل الهامشية للكربون الأزرق، إلا أن التقييمات تشير إلى الكربون المهمل، وذللك فإن السبخة لا تعتبر أحد النظم البيئية للكربون الأزرق في هذا المشروع.</p>
      </div>
    </div>

    <div class="other-ecosystems">
      <div class="right" id="candidate-ecosystem"><h3 class="upper">النظم البيئية المرشحة</h3></div>
      <div id="cyanobacterial_mats">
        <p class="light-blue ar doubble fix-orphans">المسطحات الطحلبية</p>
        <img src="/assets/pages/cyanobacterial_mats.png" alt="Cyanobacterial mats" id="img-cyanobacterial-mats" class="right">
        <p>كشفت المسوحات الميدانية للمشروع، نظام بيئي غير عادي ومحتمل للكربون الأزرق نظام بيئي محتمل للكربون الأزرق، ويعتبر أحد الموائل الفريدة في دول الخليج العربي. ترتبط الطحالب الخضراء المزرقة بالمناطق المحمية بالطين من المد والجزر، وهي تمثل أحد الأشكال المعروفة المحددة في السجلات الصخرية التي تعود إلى 3.2 مليار سنة. الإنتاج الأولي قد يكون مرتفع جداً، ولكن حجم مخزون الكربون يعتمد على ظروف التربة</p>
      </div>
    </div>




  </div>
</div>

