<div class="content grey">
  <div class="left">
    <img src="/assets/pages/AD_Mangrove_under_development.jpg" alt="AD Mangrove under development">
    <a name="demonstration"><h3>BLUE CARBON DEMONSTRATION PROJECT</h3></a>
    <p>In just over 40 years, Abu Dhabi has evolved from a small fishing community to the largest and most populated of the seven Emirates of the United Arab Emirates (UAE). With the vision and direction from His Highness the late Sheikh Zayed Bin Sultan Al Nahyan, the environment has become an intrinsic part of the heritage and traditions of the people of the UAE.</p>
     <p>This national affinity to the sea has led to the initiation of the Abu Dhabi Blue Carbon Demonstration Project in order to explore the values which coastal ecosystems provide the UAE, and to help preserve our environmental and cultural heritage.</p>
  </div>
  <div class="right">
    <img src="/assets/pages/1U6A0911.jpg" alt="The team">
    <h3>PROJECT TEAM</h3>
    <p>The Abu Dhabi Blue Carbon Demonstration Project is facilitated by AGEDI and supported by the Environment Agency Abu Dhabi (EAD), and an expert team led by GRID-Arendal, including UNEP, UNEP-WCMC, Forest Trends, and a group of world-class coastal carbon scientists.</p>
  </div>
  <img src="/assets/pages/about_logos.png" alt="Supporters" id="img-supporters">
</div>

<div class="content-full white">
  <div class="inner">
    <div class="left">
      <h3>BLUE CARBON MAPPING TOOLKIT</h3>
      <p>The toolkit can be used to broadly assess the impact of development on coastal marine ecosystems and the associated blue carbon stock, helping to make informed decisions relating to the future development of Abu Dhabi. For more information on using the toolkit, visit the help page.</p>
      <img src="/assets/pages/2007-11-23 at 00-17-44.jpg" alt="Mangroves" id="img-mangroves">
    </div>
    <div class="right">
      <h3>ABOUT THE DATA</h3>
      <p><img src="/assets/pages/out_on_sea.png" alt="Out on sea" id="img-out-on-sea">Baseline layers representing marine ecosystems (mangrove, salt marsh, seagrass and algal mats) around coastal Abu Dhabi were provided by the Abu Dhabi Environment Agency. They have been developed through a combination of comprehensive field based sampling, supported by Landsat and RapidEye satellite imagery analysis. Ecosystem layers have been enhanced further through input received from stakeholder consultation during the Abu Dhabi Local, National and Regional Biodiversity Assessment undertaken in 2011-13.</p>
      <p>The ecosystem layers are continually updated to reflect the ongoing dynamics of Abu Dhabi&#39;s coastal ecosystems. </p>
    </div>
  </div>
</div>

<div class="content-full white no-margin">
  <div class="inner">
    <div class="left">
    <h4>Calculating the carbon stocks within an AOI</h4>
    <p>Carbon stocks are based on the above- and below ground carbon stored within each ecosystem type, estimated from field-based measurements.</p>
    <p>Further ecosystem parameters such as density, age and status (natural or planted) further help to improve the accuracy of these estimates. The quality of these estimates will further improve with time, as more accurate datasets become available.</p>
    <p>Please note that although the outputs derived from the Blue Carbon Mapping Toolkit are based on the best possible scientific information currently available, there will inevitably be margins of error within the outputs. These are due to the fact that assumptions are made for much of the area, based a limited amount of data collected in the field. Any information derived from the toolkit should therefore be treated with caution.</p>
    <p>The carbon stock outputs provided include:</p>
    <p><span class="light-blue">Total Carbon Stock:</span> Provides an estimate of the tonnes of carbon within the Area(s) of Interest of all blue carbon ecosystems combined.</p>
    <p><span class="light-blue">Total Area:</span> Denotes the total area covered within the Area(s) of Interest in square kilometres.</p>
    <p><span class="light-blue">The Equivalent Per Capita CO<sub>2</sub> Emissions:</span> Provides an estimate of the average CO<sub>2</sub> output of a UAE citizen. This can be expressed either in the number of days or years, depending on the size of the output. The CO<sub>2</sub> output used here is 20.87 tons, as estimated for 2011 by the European Commission/Joint Research Centre<sup>1</sup>.</p>
    </div>
    <div class="right">
    <p><span class="light-blue">Blue Carbon Ecosystems in This Area:</span> Provides a breakdown of the contribution of each ecosystem to i) the total area (km<sup>2</sup>), ii) the % of ecosystem as part of the total coverage within Abu Dhabi, iii) the carbon stock (tonnes) within the AOI.</p>
    <p class="footnote">1 &#8211; European Commission, Joint Research Centre (JRC)/PBL Netherlands Environmental Assessment Agency. Emission Database for Global Atmospheric Research (EDGAR), release version 4.2. <a href="http://edgar.jrc.ec.europa.eu/index.php" target="_blank">http://edgar.jrc.ec.europe.eu</a>, 2011. Accessed 28 April, 2013</p>
    <img src="/assets/pages/2011-07-20 at 06-00-24.jpg" alt="mangroves nursery" id="img-mangroves-nursery">
    </div>  
  </div>
</div>

<div class="content-full">
  <div class="inner">
    <div class="full"><a name="what-is"><h3>WHAT IS BLUE CARBON?</h3></a></div>
    <div class="left">
      <p>In addition to their climate related benefits, Blue Carbon ecosystems provide highly valuable Ecosystem Services to coastal communities. They protect shorelines, support coastal tourism, and provide nursery grounds for fish and ecosystems for a wide range of species. They also have significant cultural and social value. The conservation and restoration of Blue Carbon ecosystems can be supported by funds generated through &#39;Payment for Ecosystem Services&#39; schemes such as carbon offsets.</p>
      <p>The Blue Carbon concept has strengthened interest in the management and conservation of coastal marine ecosystems, supporting climate change mitigation efforts. However, there are still gaps in our understanding of Blue Carbon, and incentives are needed to ensure more sustainable environmental management practices.</p>
    </div>
    <div class="right">
      <img src="/assets/pages/in_the_field.png" alt="In the field" id="img-in-the-field">
    </div>
  </div>
</div>

<div class="content-full">
  <div class="inner-e ecosystems">
    <div class="core-ecosystems">
      <div id="blue-carbon-ecosystem"><h3 class="upper">The Blue Carbon <br> Ecosystems Of Abu Dhabi</h3></div>
      <div id="mangroves">
        <p class="light-blue">Mangroves</p>
        <img src="/assets/pages/mangroves.png" alt="Mangroves" id="img-mangroves-small">
        <p>Mangroves are the most visible Blue Carbon ecosystem, occupying some 68 square kilometres along the UAE coast.</p>
        <p>A patch of mangrove forest in the east of Abu Dhabi was the first to be intentionally planted in the UAE and dates back to 1966. Over the following decades this practice was expanded along the Emirate’s coast, with particular success in sheltered locations adjacent to existing stands.
        A single species - the grey mangrove (<span class="i">Avicennia marina</span>), locally known as Qurm- is found in Abu Dhabi. The dense and complex structure of old natural stands provides a rich environment for fish and other species.</p>
      </div>
      <div id="seagrass">
        <p class="light-blue">Seagrass meadows</p>
        <img src="/assets/pages/seagrass.png" alt="Seagrass" id="img-seagrass">
        <p>Less visible, and beneath the waterline, Abu Dhabi hosts one of the world’s most expansive complex of seagrass meadows, supporting the second largest population of dugongs found anywhere.</p>
        <p>The meadows are populated by mosaics of three seagrass species (<span class="i">Halodule uninervis, Halophila ovalis, and Halophila stipulacea</span>), which are found near the shore and around islands down to a depth of 8 metres. Like saltmarshes and mangroves, many seagrasses accumulate carbon within soils through the production and storage of root material.</p>
      </div>
      <div id="saltmarshes">
        <p class="light-blue">Saltmarshes</p>
        <img src="/assets/pages/saltmarsh.png" alt="Saltmarsh" id="img-saltmarsh">
        <p>Saltmarshes are relatively rare in the Emirate, found locally at high tidal elevations and behind mangrove stands.</p>
        <p>The vegetation consists of specialist salt tolerant dwarf shrubs of the goosefoot (<span class="i">Chenopodiaceae</span>) and caltrop (<span class="i">Zygophyllaceae</span>) family, as well as the desert hyacinth (<span class="i">Cistanche tubulosa</span>) favored for eastern traditional medicinal benefits.</p>
      </div>
    </div>
    <div class="other-ecosystems">  
      <div id="candidate-ecosystem"><h3 class="upper">Associated Ecosystem</h3></div>
      <div id="sabkha">
        <p class="light-blue fix-orphans">Sabkha</p>
        <img src="/assets/pages/sabkha.png" alt="Sabkha" id="img-sabkha">
        <p>During the project a small set of samples were also collected from coastal sabkha with the purpose of assessing its association with Blue Carbon Ecosystems. Although not a Blue Carbon ecosystem, historic soil carbon stocks that are likely to have a Blue Carbon origin were identified below the surface at some of these sites in the form of buried seagrass, algal flat and mangrove soils. Excavation of these soils and placement in dry conditions could result in a release of carbon dioxide to the atmosphere. Removal of these for the purpose of mangrove planting may not therefore result in net greenhouse gas benefits. The distribution and magnitude of these buried carbon stores is however currently known and would require further study.</p>
        <p>The  <%= link_to "downloadable map", "/assets/22_10_2013Sabkha_Map.pdf", :target => "_blank"
  %> illustrates the carbon values derived from the soil at the sampled sites as well as the overall extent of coastal sabkha in Abu Dhabi.</p>
      </div>
    </div>
    <div class="other-ecosystems">
      <div id="associated-ecosystem"><h3 class="upper">Candidate Ecosystem</h3></div>
      <div id="cyanobacterial_mats">
        <p class="light-blue doubble fix-orphans">Intertidal cyanobacterial algal mats</p>
        <img src="/assets/pages/cyanobacterial_mats.png" alt="Cyanobacterial mats" id="img-cyanobacterial-mats">
        <p>Project field surveys have discovered an unusual potential Blue Carbon ecosystem, and one that is unique to the Gulf states.</p>
        <p>Cyanobacterial (blue-green algal) mats associated with areas of sheltered intertidal mud are the present day representation of the earliest known forms of life identified in rock records, dating back 3.2 billion years. Primary production can be very high, but carbon storage may be highly variable depending upon soil conditions.</p>
      </div>
    </div>
  </div>
</div>
