<div class="content grey">
  <div class="left">
    <img src="/assets/pages/AD_Mangrove_under_development.jpg" alt="AD Mangrove under development">
    <a name="demonstration"><h3>المشروع الإرشادي لدراسة الكربون الأزرق</h3></a>
    <p>فقط، من مجرد قرية
ً
انتقلت إمارة أبوظبي، خال ٠٤ عاما
صغيرة تعتمد على صيد الأسماك بشكل أساسي إلى أكبر
في دولة الإمارات العربية
ً
وأكثر الإمارات السبع سكانا
المتحدة، وذلك بفضل رؤية وتوجيهات المغفور له سمو
ً
جوهريا
ً
الشيخ زايد بن سلطان آل نهيان، وأصبحت البيئة عنصرا
في تراث وتقاليد الشعب الإماراتي..</p>
  <p>وأدى هذا الترابط بين البحر والطبيعة من حوله إلى توجيه
مشروع أبوظبي الإرشادي للكربون الأزرق، لاستكشاف القيم التي
توفرها النظم البيئية لدولة الإمارات العربية المتحدة، بالإضافة إلى
المساعدة في حماية التراث البيئي والثقافي للدولة، ومن المتوقع
.
ً
أن يستغرق المشروع حوالي ٢١ ش</p>
  </div>
  <div class="right">
    <img src="/assets/pages/1U6A0911.jpg" alt="The team">
    <h3>فريق عمل المشروع</h3>
    <p>مشروع أبوظبي الإرشادي للكربون الأزرق تديره مبادرة أبوظبي
العالمية للبيانات البيئية بدعم من فريق من الخبراء من برنامج الأمم
المتحدة للبيئة / غريد – أرندال، برنامج الأمم المتحدة للبيئة ”يونيب“،
والمركز العالمي لرصد الطبيعة التابع لبرنامج الأمم المتحدة ، ومؤسسة
اتجاهات الغابات ، فورست تريندس، بالإضافة إلى فريق عالمي من
الخبراء المختصين الكربون الساحلي.</p>
  </div>
  <img src="/assets/pages/about_logos.png" alt="Supporters" id="img-supporters">
</div>

<div class="content-full white">
  <div class="inner">
    <div class="left">
      <h3>آداة تقييم الكربون الأزرق</h3>
      <p>تُستعمل الأداة في إجراء تقييم شامل حول تأثير خطط التطوير على الموائل الساحلية وتحديد نسب الكربون الأزرق المختزن فيها، ممّا سيُعزّز صحة اتخاذ القرارات السليمة المرتبطة بخطط التنمية المستقبلية في إمارة أبو ظبي. 
لمزيد من المعلومات حول كيفية استعمال الأداة يُمكنكم زيارة صفحة المساعدة.</p>
      <img src="/assets/pages/2007-11-23 at 00-17-44.jpg" alt="Mangroves" id="img-mangroves">
    </div>
    <div class="right">
      <h3>نبذة عن البيانات</h3>
      <p><img src="/assets/pages/out_on_sea.png" alt="Out on sea" id="img-out-on-sea">وفّرت هيئة البيئة في إمارة أبو ظبي المعلومات الضرورية حول المكوّنات الأساسية التي تتألّف منها الموائل الساحلية لإمارة أبو ظبي (كأشجار القرم، السبخات الملحية، الأعشاب البحرية والمسطحات الطينية مع الطحالب الخضراء المزرقة). وتمّ رصد  تلك البيانات من خلال عمليات ميدانية شاملة لجمع العيّنات وباستعمال  صور عبر الأقمار الصناعية تمّ التقاطها عبر لاندسات Landsat  و رابيد آيRapidEye . كما تمّ تعزيز الموائل من خلال معلومات إضافية قدّمتها الجهات الاستشارية المعنية عقب حملة التقييم المحليّة والوطنية والإقليمية للتنوّع البيئي، والتي جرت ما بين العامين 2011 و2013 في إمارة أبو ظبي. ويتم العمل على تحديث المعلومات حول هذه الموائل بشكل متواصل لإظهار طبيعة الأحداث في الموائل الساحلية لإمارة أبو ظبي.</p>
    </div>
  </div>
</div>

<div class="content-full white no-margin">
  <div class="inner">
    <div class="left">
    <h4>حساب مخزونات الكربون في مناطق دائرة الاهتمام AOI</h4>
    <p>يتم تقييم مخزونات الكربون من خلال قياس الكمّيات الموجودة في كل من الموائل ، ويتمّ تقديرها عبرعمليات قياس ميدانية.</p>
    <p>إنّ المعلومات الإضافية حول الموائل الطبيعية كتلك المتعلّقة بكثافة النباتات وعمرها وطبيعتها (سواءً كانت طبيعية أو مزروعة) تُساهم في رفع مستوى التقديرات العلمية. كما أنّ نوعية هذه التقديرات ستزداد مع مرور الوقت لأنّ قواعد البيانات الدقيقة ستتوافر بشكل أكبر. </p>
    <p>إنّ المعلومات الإضافية حول الموائل الطبيعية كتلك المتعلّقة بكثافة النباتات وعمرها وطبيعتها (سواءً كانت طبيعية أو مزروعة) تُساهم في رفع مستوى التقديرات العلمية. كما أنّ نوعية هذه التقديرات ستزداد مع مرور الوقت لأنّ قواعد البيانات الدقيقة ستتوافر بشكل أكبر. </p>
    <p>تشتمل البيانات الناتجة حول مخزونات الكربون على:</p>
    <p><span class="light-blue"> إجمالي مخزونات الكربون:</span> تُمثّل هذه النتيجة بيانات تقديرية  حول عدد أطنان الكربون الموجودة في المنطقة الواقعة ضمن دائرة الاهتمام والتي تجمع جميع موائل الكربون الأزرق.</p>
    <p><span class="light-blue">المنطقة الإجمالية:</span>  تُظهر بالكيلومتر المربّع المنطقة الإجمالية المُغطّاة داخل المنطقة الواقعة ضمن دائرة الاهتمام.</p>
    <p><span class="light-blue">انبعاثات ثاني أكسيد الكربون لكل فرد:</span> تزودنا تقديراً حول متوسّط كميّة ثاني أكسيد الكربون الناتجة عن كل مواطن في الإمارات العربية المتّحدة. ويُمكن حسابه اما بعدد الأيام أوالسنين وذلك وفقاً لحجم الانتاجية. إنّ تقدير نتاج ثاني أكسيد الكربون المستخدم هناً هو 20,87 طنّاً، حسب تقدير عام 2011 الصادرعن مركز الأبحاث المشترك التابع للمفوضية الأوروبية .<sup>1</sup>.</p>
    </div>
    <div class="right">
    <p>تزود موائل مخزونات الكربون الأزرق في هذه المنطقة بياناً تفصيلاً حول المساحة التي يشغلها كل موئل بيئي من إجمالي المساحة بالكيلومتر المربّع، إضافة إلى النسبة التي يُغطّيها الموئل من إجمالي مساحتة الكلّية في إمارة أبو ظبي، وأخيراً مخزون الكربون بالأطنان ضمن المنطقة المعنية أو ذات الاهتمام.
 </p>
    <p class="footnote">1 &#8211; مركز الأبحاث المشترك  للمفوضية الأوروبية  (جاي أر سي JRC) / بي بي أل PBL التابع لهيئة التقييم البيئية في هولندا. قاعدة بيانات الانبعاثات للبحث الجوّي العالمي، النسخة 4.2 
 
http://edgar.jrc.ec.europe.eu، 2011.
بتاريخ 28 أبريل 2013.
 </p>
    <img src="/assets/pages/2011-07-20 at 06-00-24.jpg" alt="mangroves nursery" id="img-mangroves-nursery">
    </div>  
  </div>
</div>

<div class="content-full">
  <div class="inner">
    <div class="full"><a name="what-is"><h3>ما هو الكربون الأزرق ؟</h3></a></div>
    <div class="left">
      <p>بالإضافة إلى فوائدها المتعلقة بالمناخ، توفر النظم البيئية للكربون
الأزرق خدمات قيمة للأنظمة البيئية الساحلية، مثل حماية الشواطئ
ودعم السياحة الشاطئية، وتوفير الموائل للأسماك والعديد من
الكائنات. هذا بالإضافة إلى قيمتها الثقافية والاجتماعية. المحافظة
على واستعادة النظم البيئية للكربون الأزرق يمكن تمويلها من خال
مشروعات ” الدفع للحصول على خدمات النظم البيئية“.</p>
      <p>عزز مفهوم الكربون الأزرق من الاهتمام بإدارة والمحافظة
على النظم البيئية الساحلية، ودعم جهود تخفيف آثار التغير
المناخي. ومع ذلك لا تزال توجد فجوات في فهم الكربون
الأزرق، نحتاج إلى التشجيع للتأكد من تطبيق أكثر لممارسات
إدارة الاستدامة البيئية.</p>
    </div>
    <div class="right">
      <img src="/assets/pages/in_the_field.png" alt="In the field" id="img-in-the-field">
    </div>
  </div>
</div>

<div class="content-full">
  <div class="inner">
    <div class="full"><h3>موائل الكربون الأزرق في إمارة أبو ظبي</h3></div>
    <div id="mangroves">
      <p class="light-blue ar">أشجار القرم</p>
      <img src="/assets/pages/mangroves.png" alt="Mangroves" id="img-mangroves-small">
      <p>Mangroves are the most visible Blue Carbon ecosystem, occupying some 68 square kilometres along the UAE coast.</p>
      <p>A patch of mangrove forest in the east of Abu Dhabi was the first to be intentionally planted in the UAE and dates back to 1966. Over the following decades this practice was expanded along the Emirate’s coast, with particular success in sheltered locations adjacent to existing stands.
      A single species - the grey mangrove (Avicennia marina), locally known as Qurm- is found in Abu Dhabi. The dense and complex structure of old natural stands provides a rich environment for fish and other species.</p>
    </div>
    <div id="cyanobacterial_mats">
      <p class="light-blue ar  doubble">المسطحات الطحلبية</p>
      <img src="/assets/pages/cyanobacterial_mats.png" alt="Cyanobacterial mats" id="img-cyanobacterial-mats">
      <p>Project field surveys have discovered an unusual potential blue carbon ecosystem, and one that is unique to the Gulf states.</p>
      <p>Cyanobacterial (blue-green algal) mats associated with areas of sheltered intertidal mud are the present day representation of the earliest known forms of life identified in rock records, dating back 3.2 billion years. Primary production can be very high, but carbon storage may be highly variable depending upon soil conditions.</p>
    </div>
    <div id="seagrass">
      <p class="light-blue ar">الأعشاب البحرية</p>
      <img src="/assets/pages/seagrass.png" alt="Seagrass" id="img-seagrass">
      <p>Less visible, and beneath the waterline, Abu Dhabi hosts one of the world’s most expansive complex of seagrass meadows, supporting the second largest population of dugongs found anywhere.</p>
      <p>The meadows are populated by mosaics of three seagrass species (Halodule uninervis, Halophila ovalis, and Halophila stipulacea), which are found near the shore and around islands down to a depth of 8 metres. Like saltmarshes and mangroves, many seagrasses accumulate carbon within soils through the production and storage of root material.</p>
    </div>
    <div id="saltmarshes">
      <p class="light-blue ar">السبخات الملحية</p>
      <img src="/assets/pages/saltmarsh.png" alt="Saltmarsh" id="img-saltmarsh">
      <p>Saltmarshes are relatively rare in the Emirate, found locally at high tidal elevations and behind mangrove stands.</p>
      <p>The vegetation consists of specialist salt tolerant dwarf shrubs of the goosefoot (Chenopodiaceae) and caltrop (Zygophyllaceae) family, as well as the desert hyacinth (Cistanche tubulosa) favored for eastern traditional medicinal benefits.</p>
    </div>
    <div id="sabkha">
      <p class="light-blue ar">سبخات</p>
      <img src="/assets/pages/sabkha.png" alt="Sabkha" id="img-sabkha">
      <p>Coastal sabkha is a terrestrial ecosystem above the high tide elevation, but occasionally flooded by storm driven flooding sea waters. Coastal sabkha does not sequester CO2. Because of this and because if it's terrestrial nature it is not defined as a blue carbon ecosystem.  That said, in Abu Dhabi, coastal sabkha has advanced seaward from the land over 4000 years or so, burying stocks of  blue carbon laid down by coastal ecosystems. These stocks remain sequestered from the atmosphere as long as they are not disturbed.</p>
    </div>
  </div>
</div>
