<div class="content grey small">
  <h3 class="full">USING THE TOOL</h3>
  <div class="content-three">
    <p>عند البدء باستعمال الأداة تظهر خريطة إمارة أبو ظبي بجميع موائل الكربون الأزرق إضافة إلى تصنيفات ومعلومات أخرى. يُمكن للمستخدمين استخدام ميزة التقريب من خلال واجهة التقريب الموجودة في الجزء العلوي على يسار الخريطة.<p>
    <p>يُمكن إظهار أو إخفاء الأجزاء المكوّنة للموائل البيئية عبر زر التحكّم بالطبقات الموجود الجزء العلوي على يمين الخريطة. يُمكن للمستخدم من خلال هذه الميزة الانتقال من رؤية الأقمار الصناعية إلى رؤية الخريطة التي تضمّ أسماء الأماكن والطرقات.</p>
    <p class="bold">تحديد المنطقة الواقعة ضمن دائرة الاهتمام (AOI)</p>
    <p>يُمكن تحديد المنطقة الواقعة ضمن دائرة الاختبار AOI من خلال النقر على الخريطة ومن ثم رسم المضلّع المطلوب. فعّل خاصية الرسم من خلال النقر على زر رسم المضّلع "draw a polygon" الأخضر. حرّك المؤشّر عبر الخريطة وسيتغيّر شكله إلى إشارة زائد وستظهر جملة  "click to start drawing shape". ستُحدّد كل نقرة بالفأرة إحدى زوايا المنطقة التي تريد تحديدها. إن النقر على نقطة البداية سيُتمّ عملية رسم المُضلّع ومن ثم ستظهر البيانات حول المنطقة التي حدّدتها.</p>
    <p>يُمكن الغاء النقاط المُحدّدة من خلال النقر على زر "undo" الموجود إلى يمين زر "draw a polygon"..</p>
    <p class="bold">محو المنطقة المُحدّدة.</p>
    <p>انقر على المُضلّع المُحدّد وسيظهر لك زر"Delete polygon؟" الذي يُمكن استعماله لمحو المنطقة الواقعة ضمن دائرة الاهتمام.</p>
  </div>

  <div class="content-three-centre">
    <img src="/assets/pages/help.png" alt="Help screenshot" id="img-help-screenshot">
  </div>

  <div class="content-three-last">
    <p class="bold">تحديد مُضلّعات ومناطق متعدّدة.</p>
    <p>يُمكن رسم مُضلّعات أو مناطق اهتمام مُتعدّدة عبر النقر على زر "Draw another polygon". ستُظهر لوحة النتائج مجموع عدد المُضلّعات. تُعرف مجموعة المُضلّعات إلى جانب المعلومات الناتجة بـ "Areas". يُمكن تحديد 3 مناطق مختلفة بهدف إجراء مقارنة بينها.</p>

    <p>سترى في أعلى لوحة النتائج علامة تبويب تحمل عنوان Area #1" وإلى جانبها إشارة زائد. انقر على إشارة الزائد وستظهر أمامك منطقة عمل جديدة. يُمكنك العودة إلى المنطقة الأولى من خلال النقر على علامة التبويب "Area #1". ستبقى جميع المعلومات محفوظة ضمن علامات التبويب خلال فترة عملك.</p>

    <p class="bold">محو المناطق</p>
    <p>يُمكن محو المناطق المُحدّدة من خلال النقر على زر "delete this area" الموجود أعلى يمين لوحة النتائج.</p>

    <p class="bold">ارسال تقرير</p>
    <p>يُمكن ارسال تقرير عن المعلومات الناتجة حول منطقة على حدة، على شكل ملف .CSV وذلك عبر النقر على زر "Export your Report" الأخضر الموجود أسفل  جدول الموئل التفصيلي.</p>

    <p class="bold">مشاركة عملك</p>
    <p>يُمكن مشاركة نتائج عملك مع مستخدمين آخرين عبر النقر على زر "Share Your Work" ومن ثم نسخ الرابط. حين يتفقّد المستخدمون الآخرون الرابط سيرون المنطقة الواقعة ضمن دائرة الاهتمام التي حدّدتها إضافة إلى نتائج المعلومات حول الكربون.</p>
  </div>
</div>