<div class="content grey small">
  <h3 class="full">USING THE TOOL</h3>
  <div class="content-three">
    <p>On launch, the tool shows a view of Abu Dhabi and all the blue carbon ecosystems including an &#39;other&#39; classification. Users can zoom in to features using the standard zoom interface on the top left hand side of the map.<p>
    <p>Habitat layers can be &#39;toggled&#39; between visible and not visible via the layers icon on the top right hand side of the map.This feature also allows a user to switch between a satellite view and a map view which includes place names and roads.</p>
    <p class="bold">Defining an Area of Interest (AOI)</p>
    <p>Active AOI’s are created by clicking on the map to define a polygon shape. Activate drawing by clicking on the green &#34;draw a polygon&#34; button. Move the cursor onto the map and it will change to a cross with instructions to “click to start drawing shape”. Each click of the mouse will mark a corner point of your AOI. Clicking on the start point completes the polygon and returns data for your AOI.</p>
    <p>Points can be undone by clicking the &#34;undo&#34; icon to the right of the &#34;draw a polygon&#34; button.</p>
    <p class="bold">Deleting an Area of Interest</p>
    <p>To delete an area of interest simply click on the polygon and a &#34;delete polygon?&#34; button will appear.</p>
  </div>

  <div class="content-three-centre">
    <img src="/assets/pages/help.png" alt="Help screenshot" id="img-help-screenshot">
  </div>

  <div class="content-three-last">
    <p class="bold">Multiple Polygons and Areas</p>
    <p>It is possible to draw multiple polygons or AOI’s by clicking the “Draw another polygon” button. The results panel will show the sum of all the polygons. These collections of polygons and the resulting information are known as “areas”. It is possible to create up to three areas for comparison purposes.</p>

    <p>Along the top of the results panel you will see a tab labeled “Area #1” with a “plus” icon next to it. Click the plus icon and you will have a fresh area to start working on. You can jump back to your original area simply by clicking on the “Area #1” tab. All the data in the tabs will be kept for the duration of your session.</p>

    <p class="bold">Deleting Areas</p>
    <p>Areas can be deleted by clicking the “delete this area” button on the top right hand side of the results panel.</p>

    <p class="bold">Exporting a report</p>
    <p>It is possible to export a report of your results per area, in a .CSV file format by clicking on the green “Export your Report” button underneath the ecosystem breakdown table.</p>

    <p class="bold">Sharing your work</p>
    <p>You can share the outputs of your work with other users by selecting the “Share Your Work’’ button and then copying the link. When other users open this link, they will be able to view your AOI and the resulting carbon outputs.</p>
  </div>
</div>