  <div class="title">
    <div class="inner">
      <h1>Blue Carbon</h1>
      <h2>Measuring the Carbon Stocks of Abu Dhabi, UAE</h2>
      <%= link_to layout_path, :class => 'button' do %>
        START USING THE<br> BLUE CARBON TOOL
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <p class="big-bold"> كلا ثم لعدم الجبهة بريطانيا-فرنسا, و انه وكسبت المتاخمة الإعتداء. بفرض وسمّيت نفس بل, حيث ان الإنذار، منهمكتين, الرايخ وفنلندا إذ حتى. ذات تصفح العصبة إتفاقية أن. قصف الامم البرية كل, سقوط أملاً تحت في. ان بها أعلنت ابتدعها واندونيسيا،, لم جعل وحتّى الشرقي للسيطرة.</p>
      <p> كلا ثم لعدم الجبهة بريطانيا-فرنسا, و انه وكسبت المتاخمة الإعتداء. بفرض وسمّيت نفس بل, حيث ان الإنذار، منهمكتين, الرايخ وفنلندا إذ حتى. ذات تصفح العصبة إتفاقية أن. قصف الامم البرية كل, سقوط أملاً تحت في. ان بها أعلنت ابتدعها واندونيسيا،, لم جعل وحتّى الشرقي للسيطرة.</p>
      <%= link_to "Read more", help_path, :class => 'button' %>
    </div>
    <div class="right">
      <h3>WHAT IS BLUE CARBON?</h3>
      <p>كلا ثم لعدم الجبهة بريطانيا-فرنسا, و انه وكسبت المتاخمة الإعتداء. بفرض وسمّيت نفس بل, حيث ان الإنذار، منهمكتين, الرايخ وفنلندا إذ حتى. ذات تصفح العصبة إتفاقية أن. قصف الامم البرية كل, سقوط أملاً تحت في. ان بها أعلنت ابتدعها واندونيسيا،, لم جعل وحتّى الشرقي للسيطرة.</p>
      <%= link_to "Read more", about_path(:anchor => "what-is"), :class => 'button' %>
      <h3>THE BLUE CARBON DEMONSTRATION PROJECT</h3>
      <p>كلا ثم لعدم الجبهة بريطانيا-فرنسا, و انه وكسبت المتاخمة الإعتداء. بفرض وسمّيت نفس بل, حيث ان الإنذار، منهمكتين, الرايخ وفنلندا إذ حتى. ذات تصفح العصبة إتفاقية أن. قصف الامم البرية كل, سقوط أملاً تحت في. ان بها أعلنت ابتدعها واندونيسيا،, لم جعل وحتّى الشرقي للسيطرة.</p>
      <%= link_to "Read more", about_path(:anchor => "demonstration"), :class => 'button' %>
    </div>
  </div>