
  <div class="title">
    <div class="inner">
      <h1>Blue Carbon</h1>
      <h2>Measuring the Carbon Stocks of Abu Dhabi, UAE</h2>
      <a href="/layout" class="button">START USING THE<br> BLUE CARBON TOOL</a>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <p class="big-bold">The Blue Carbon Assessment Tool allows you to learn more about the important role of coastal marine ecosystems and their ability to absorb and store carbon dioxide from the atmosphere.</p>
      <p>The tool has been designed to be simple to use and provide a rapid overview of the approximate total carbon stock value for a selected area of interest. This information is further broken down to provide information on the contribution of each habitat to the total carbon stock of the selected area.</p>
      <p>The ‘Start Using the Blue Carbon Tool’ button will take you to an interactive mapping page where you can create an area of interest by drawing a polygon on the map.</p>
      <a href="#" class="button">Read more</a>
    </div>
    <div class="right">
      <h3>WHAT IS BLUE CARBON?</h3>
      <p>&#34;Blue Carbon&#34; refers to the ability of coastal vegetation to sequester carbon. Blue Carbon ecosystems, including mangrove forests, saltmarshes, seagrass beds and cyanobacterial mats, sequester and store atmospheric carbon in biomass and sediments, sometimes at rates higher than tropical rainforests. When these ecosystems are destroyed, buried carbon can be released into the atmosphere as carbon dioxide, contributing to global warming.</p>
      <a href="#" class="button">Read more</a>
      <h3>THE BLUE CARBON DEMONSTRATION PROJECT</h3>
      <p>This Blue Carbon Demonstration Project aims to investigate the opportunities in building a local greener Emirate through the better understanding of carbon and coastal ecosystem services and its potential contribution to climate change mitigation efforts. Experience and knowledge gained from the project will also help guide other national blue carbon projects and international efforts.</p>
      <a href="#" class="button">Read more</a>
    </div>
  </div>
