<div class="hero <%= "for-country" if @current_country %>">
  <%= hero_text @current_country %>
  <a href="<%= tool_path %>" class="btn button button--landing-page tool-button">Start using the tool</a>
</div>

<article class="home-main main-container">
  <div class="row">
    <div class="half">
      <section>
        <h3>
          The Blue Forests Mapping tool allows you to learn more about the
          important role of coastal marine ecosystems and their ability to absorb
          and store carbon dioxide from the atmosphere.
        </h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div>
          <a href="<%= tool_path %>" class="btn tool-button" style="display: inline-block; margin-bottom: 10px;">Start using the tool</a>
        </div>
        <a class="with-icon">Visit our help page</a>
      </section>
    </div>
    <div class="half">
      <section>
        <h3 class="title">What is Blue Forests?</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <a class="with-icon">More information about the Blue Forests</a>
      </section>
      <section>
        <h3 class="title">The Blue Forests Project</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum.
        </p>
        <a class="with-icon">More details about the project</a>
      </section>
    </div>
  </div>
</article>
