  <div class="title">
    <div class="inner">
      <h1>الكربون الأزرق</h1>
      <h2>قياس مخزونات الكربون في إمارة أبو ظبي – الإمارات العربية المتّحدة</h2>
      <%= link_to layout_path, :class => 'button' do %>
        البدء باستعمال الأداة الإلكترونية لقياس<br> الكربون الأزرق
      <% end %>
    </div>
  </div>
  <div class="content">
    <div class="left">
      <p class="big-bold">تُساعدك  الأداة الإلكترونية لتقييم الكربون الأزرق في معرفة المزيد حول أهمية الموائل البيئية الساحلية وحول قدرتها على امتصاص وتخزين ثاني أكسيد الكربون من الجوّ.</p>
      <p>صُمّمت الأداة الإلكترونية لتكون سهلة الاستعمال ولتُوفّر عرضاً شاملاً سريعاً حول القيمة التقريبة الاجمالية لمخزون الكربون في المنطقة الواقعة ضمن دائرة الاهتمام. كما يُمكن تفصيل هذه المعلومات لعرض بيانات إضافية حول مساهمة كل موئل بيئي في إجمالي مخزون الكربون للمنطقة الواقعة ضمن دائرة الاهتمام.</p>
      <p>إنّ النقر على زر " البدء باستعمال الأداة الإلكترونية لقياس
الكربون الأزرق " سيُفعّل استعمال الأداة الإلكترونية وستنتقل إلى صفحة الخريطة التفاعلية حيث تستطيع فيها تحديد المنطقة الواقعة ضمن دائرة اهتمامك وذلك من خلال رسم المُضلّع على الخريطة.</p>
      <%= link_to "اقرأ المزيد", help_path, :class => 'button' %>
    </div>
    <div class="right">
      <h3>ما هو الكربون الأزرق ؟</h3>
      <p>يشير ”الكربون الأزرق“ إلى قدرة الغطاء النباتي الساحلي على تخزين الكربون. وتخزن
الأنظمة البيئية التي تشمل غابات أشجار القرم، ومروج الأعشاب البحرية، والسبخات
المالحة ”الكربون الأزرق“ وتحتجز كربون الغاف الجوي على شكل كتلة حيوية، في
أوراقها وجذوعها وفي الرواسب العضوية الغنية، وفي بعض الأحيان بمعدلات
تتخطى الغابات الاستوائية المطيرة. عندما تتدمر هذه النظم البيئية، ينبعث
الكربون المحتجز بداخلها إلى الغاف الجوي مثل ثاني أكسيد الكربون، الذي
يساهم في ظاهرة الاحتباس العالمي.</p>
      <%= link_to "اقرأ المزيد", about_path(:anchor => "what-is"), :class => 'button' %>
      <h3>المشروع الإرشادي لدراسة الكربون الأزرق</h3>
      <p>يهدف مشروع أبوظبي لدراسة للكربون الأزرق إلى دراسة الفرص المتاحة لبناء إمارة أكثر صداقة للبيئة المحلية من خلال تعزيز الفهم بشأن الكربون والخدمات التي تقدمها النظم البيئية الساحلية، ومساهمتها المحتملة في التخفيف من آثار التغير المناخي. إنّ الخبرة والمعرفة المكتسبتين من هذا المشروع ستكون أيضاً منارة لباقي المشاريع والجهود الدولية المرتبطة بمشاريع الكربون الأزرق.</p>
      <%= link_to "اقرأ المزيد", about_path(:anchor => "demonstration"), :class => 'button' %>
    </div>
  </div>
