<div class="page-header">
  <% if can? :manage, Area %>
    <%= link_to new_area_path, :class => 'btn btn-primary' do %>
      <i class="icon-plus icon-white"></i>
      New Field Site
    <% end %>
  <% end %>
  <h1>Listing field sites</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <% if can? :manage, Area %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @areas.each do |area| %>
    <tr>
      <td><%= link_to area.title, area %></td>
      <% if can? :manage, Area %>
        <td><%= link_to 'Delete', area, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
