<div class="page-header">
  <%= link_to new_area_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Area
  <% end %>
  <h1>Listing areas</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @areas.each do |area| %>
    <tr>
      <td><%= link_to area.title, area %></td>
      <td><%= link_to 'Delete', area, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
