<div class="static">
  <div id="map"></div>

  <div id="sidebar" class="shadow">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h5>New area</h5>

          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
