@import "bootstrap-variables";

$border: #4f6580 !default;

#sidebar.analysis {
  overflow: auto;
  float: right;
  top: $navbarHeight;
  width: 320px;
  background-color: #334657;
  right: 0;
  bottom: 120px;

  h5 {
    text-transform: uppercase;
    text-align: center;
  }

  img.loading {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 50px;
    height: 50px;
  }

  .footer {
    text-align: center;
  }

  .tabs {
    background-color: #24323F;
    overflow: visible;
    margin: 0;
    padding-left: 0;
    height: 41px;
    border-bottom: 1px solid $border;

    li {
      text-transform: uppercase;
      cursor: pointer;
      list-style-type: none;
      float:left;
      padding: 10px;
      font-weight: bold;
      border: 1px solid $border;
      color: #546a85;

      &:nth-child(2) {
        border-left: 0;
        border-right: 0;
      }

      &#add-area {
        border-right: 1px solid $border;
        height: 20px;
        width: 26px;
        background-position: 9px 6px;

        background-image: image-url("add_area.png");
        @media (min--moz-device-pixel-ratio: 1.3),
          (-o-min-device-pixel-ratio: 2.6/2),
          (-webkit-min-device-pixel-ratio: 1.3),
          (min-device-pixel-ratio: 1.3),
          (min-resolution: 1.3dppx) {
          /* on retina, use image
           * that's scaled by 2 */
          background-size: 28px 27px;
          background-image: image-url("add_area@2x.png");
        }
        background-repeat: no-repeat;
      }

      &.help {
        width: 56px;
        text-align: center;
        float: right;
      }

      &.active {
        color: white;
        background: #334657;
        border-bottom: 1px solid #334657;
      }
    }
  }

  h4 {
    color: #E3E6E9;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 7px;
    margin-bottom: 3px;
  }

  table.table {
    background: none;
    color: white;

    thead {
      border-bottom: 1px solid #C1DDF3;
      color: #E3E6E9;

      th {
        padding-bottom: 3px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.8em;
      }
    }

    td {
      border: none;
    }

    &.human-stats {
      tbody {
        font-family: Arial, "Helvetica Neue", sans-serif;

        tr {
          td {
            background-image: image-url("human_emissions.png");
            background-repeat: no-repeat;
            background-position: 9px 10px;
            padding-top: 15px;
            padding-left: 45px;
            border: none;
            border-top: 1px solid #C1DDf3;
            font-size: 2.4em;
            font-family: Montserrat, "Helvetica Neue", sans-serif;

            span {
              line-height: 10px;
              font-size: 0.7rem;
            }
          }
        }
      }
    }

    &.polygon-stats {
      tbody {
        font-family: Arial, "Helvetica Neue", sans-serif;

        tr {
          &:first-child {
            td {
              border: none;
              border-top: 1px solid #C1DDF3;
              padding-bottom: 0;

              &:nth-of-type(3) {
                width: 70px;
              }

              &:last-child {
                width: 140px;
              }

              span {
                display: block;
                font-size: 0.7em;
                text-transform: none;
                color: #A8B6C4;
                top: -7px;
                position: relative;
              }
            }

            background: #546476;
            text-transform: uppercase;
          }
        }
      }

      td {
        &:first-child {
          width: 85px;
        }

        border-top: 1px solid #4D617A;
      }
    }

    &.total-stats {
      tbody {
        td {
          span {
            font-size: 0.7rem;
          }

          font-size: 2.4em;
          padding-top: 15px;
          font-weight: normal;
        }
      }
    }
  }
}

.undo {
  width: 43px;
  height: 30px;
  display: inline-block;

  &.btn,
  &.btn:active {
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-position: 0;
    width: 43px !important;
    padding: 0;

    &:hover {
      webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      background-position: 0;
    }

    background-repeat: no-repeat;
    background-image: image-url("undo_selected.png");
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      /* on retina, use image
       * that's scaled by 2 */
      background-size: 43px 30px;
      background-image: image-url("undo_selected@2x.png");
    }
  }
}

#area {
  position: fixed;
  width: 298px;
  padding: 10px;
  padding-top: 5px;
  overflow: scroll;
  top: 142px;
  bottom: 120px;
  border: 1px solid $border;
  border-top: 0;
  border-bottom: 0;
  font-family: 'Montserrat', sans-serif;

  #new-polygon {
    text-transform: capitalize;
  }

  .btn {
    &.export {
      margin: 50px 0 50px 0;
    }
  }

  #delete-area {
    font-weight: bold;
    font-size: 0.9em;
    float: right;
    color: white;
    padding-left: 18px;
    background-position-y: 3px;

    background-image: image-url("trash.png");
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      /* on retina, use image
       * that's scaled by 2 */
      background-size: 14px 17px;
      background-image: image-url("trash@2x.png");
    }
    background-repeat: no-repeat;
  }

  .new-polygon-container {
    width: 100%;
    text-align: center;
    display: block;
    clear: both;
    padding: 30px 0 30px 0;
  }
}
