@import "bootstrap-variables";
@import "sassy-buttons";

$border: lighten($gray, 10%) !default;
$default-text-color: #353938;
$default-text-color-light: #adadad;
$corporate-green: #6dad67;

#sidebar.analysis {
  overflow: auto;
  float: right;
  top: $navbarHeight;
  width: 320px;
  background-color: $gray-background;
  right: 0;
  bottom: 120px;

  h5 {
    text-transform: uppercase;
    text-align: center;
  }

  img.loading {
    position: absolute;
    top: 40%;
    left: 45%;
    width: 50px;
    height: 50px;
  }

  .footer {
    position: relative;
    text-align: center;

    .btn {
      width: 185px;

      &:first-of-type {
        margin-top: 40px;
      }

      &:last-child {
        margin-top: 10px;
        margin-bottom: 50px;
      }
    }

    .permalink {
      margin-left: 15px;
      width: 298px;
      background: #FFFFFF;
      border: 1px solid #CAD5E0;
      padding: 4px;
      position: absolute;
      height: 49px;
      left: -20px;
      top: -23px;
      display: none;

      h5 {
        color: #334557;
        font-size: 0.9em;
        font-weight: bold;
        font-family: "Helvetica Neue";
        text-align: left;
        margin: 0;
      }

      input {
        background-color: #f2f2f3;
        border-radius: 0;
        font-size: 12pt;
        height: 11px;
        width: 284px;
        margin: 5px 0 0 0;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 52px;
        right: 145px;
        width: 10px;
        height: 10px;
        background: #FFFFFF;
        border-left:1px solid #CAD5E0;
        border-bottom:1px solid #CAD5E0;
        -moz-transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
      }
    }
  }

  .tabs {
    background-color: lighten($gray-background, 5%);
    overflow: visible;
    margin: 0;
    padding-left: 0;
    height: 41px;
    border-bottom: 1px solid $border;

    li {
      text-transform: uppercase;
      cursor: pointer;
      list-style-type: none;
      float:left;
      padding: 10px;
      font-weight: bold;
      border: 1px solid $border;
      color: #546a85;

      &:nth-child(2) {
        border-left: 0;
        border-right: 0;
      }

      &#add-area {
        border-right: 1px solid $border;
        height: 20px;
        width: 26px;
        background-position: 9px 6px;

        background-image: image-url("add_area.png");
        @media (min--moz-device-pixel-ratio: 1.3),
          (-o-min-device-pixel-ratio: 2.6/2),
          (-webkit-min-device-pixel-ratio: 1.3),
          (min-device-pixel-ratio: 1.3),
          (min-resolution: 1.3dppx) {
          /* on retina, use image
           * that's scaled by 2 */
          background-size: 28px 27px;
          background-image: image-url("add_area@2x.png");
        }
        background-repeat: no-repeat;
      }

      &.help {
        width: 56px;
        text-align: center;
        float: right;
      }

      &.active {
        color: $default-text-color;
        background: $gray-background;
        border-bottom: 1px solid $gray-background;
      }
    }
  }

  h4 {
    color: $default-text-color;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 7px;
    margin-bottom: 3px;
  }

  table.table {
    background: none;
    color: $default-text-color;

    thead {
      border-bottom: 1px solid lighten($gray, 20%);
      color: $default-text-color;

      th {
        padding-bottom: 3px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.8em;
      }
    }

    td {
      border: none;
    }

    &.human-stats {
      tbody {
        font-family: Arial, "Helvetica Neue", sans-serif;

        tr {
          td {
            background-image: image-url("human_emissions.png");
            background-repeat: no-repeat;
            background-position: 9px 10px;
            padding-top: 15px;
            padding-left: 45px;
            border: none;
            border-top: 1px solid lighten($gray, 20%);
            font-size: 2.4em;
            font-family: Montserrat, "Helvetica Neue", sans-serif;

            span {
              line-height: 10px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    &.polygon-stats {
      tbody {
        font-family: Arial, "Helvetica Neue", sans-serif;

        tr {
          &:first-child {
            td {
              border: none;
              border-top: 1px solid lighten($gray, 20%);
              padding-bottom: 0;

              &:nth-of-type(3) {
                width: 70px;
              }

              &:last-child {
                width: 140px;
              }

              span {
                display: block;
                font-size: 0.7em;
                text-transform: none;
                color: darken($default-text-color-light, 20%);
                top: -7px;
                position: relative;
              }
            }

            background: darken($gray-background, 6%);
            text-transform: uppercase;
          }
        }
      }

      td {
        &:first-child {
          width: 85px;
        }

        border-top: 1px solid $border;
      }
    }

    &.total-stats {
      tbody {
        td {
          span {
            font-size: 0.9rem;
          }

          font-size: 2.4em;
          padding-top: 15px;
          font-weight: normal;
        }
      }
    }
  }

  section.help {
    ul {
      list-style-type: none;
      padding:0;
      margin:0;

      a {
        border-bottom: 1px dotted;
        text-decoration: none;
        font-size: 12px;
      }
    }

    p {
      font-size: 12px;
      font-family: Arial, "Helvetica Neue", sans-serif;

      &.title {
        font-weight:bold;
        font-size: 13px;
        padding:0; 
        margin:0;
        text-align: left;
      }
    }

    h3 {
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 2px;
      font-size: 13px;
      line-height: 14px;

      a {
        color: $default-text-color;
      }
    }

    a {
      cursor: pointer; cursor: hand;
    }
  }
}

.undo {
  width: 43px;
  height: 30px;
  display: inline-block;

  &.btn,
  &.btn:active {
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-position: 0;
    width: 43px !important;
    padding: 0;

    &:hover {
      webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      background-position: 0;
    }

    background-repeat: no-repeat;
    background-image: image-url("undo_selected.png");
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      /* on retina, use image
       * that's scaled by 2 */
      background-size: 43px 30px;
      background-image: image-url("undo_selected@2x.png");
    }
  }
}

#area {
  position: fixed;
  width: 298px;
  padding: 10px;
  padding-top: 5px;
  overflow: scroll;
  top: 142px;
  bottom: 120px;
  border: 1px solid $border;
  border-top: 0;
  border-bottom: 0;

  #new-polygon {
    text-transform: capitalize;
  }

  #delete-area {
    font-weight: bold;
    font-size: 0.9em;
    float: right;
    color: darken($default-text-color-light, 10%);
    padding-left: 18px;
    background-position-y: 3px;
    line-height: 22px;

    background-image: image-url("trash.png");
    @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      /* on retina, use image
       * that's scaled by 2 */
      background-size: 14px 17px;
      background-image: image-url("trash@2x.png");
    }
    background-repeat: no-repeat;
  }

  .new-polygon-container {
    width: 100%;
    text-align: center;
    display: block;
    clear: both;
    padding: 30px 0 30px 0;
  }
}

.tip {
  cursor: pointer;
  cursor: hand;
  background-image: image-url("tool_tip.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px 10px;
}

.navbar .nav.pull-right {
  font-size: 16px;
  margin-right: 48px;
}

.style-rtl, th.rtl, td.rtl {
  direction: rtl;
  text-align: right;
}
