@import "colors";
@import 'variables';

.analysis {

  main {
    width: 100%;
    height: calc(100vh - #{$header-height});
    min-height: 600px;
  }

  #sidebar {
    float: left;
    width: 40%;
  }

  #area_results {
    padding: 0 1.5rem;

    h4 {
      line-height: 2rem;
      border-bottom: solid 1px $light-gray;
      margin-bottom: .333rem;
    }

    .no-border {
      border-bottom: none;
    }

    p {
      font-size: 1.75rem;
      margin: 0;
    }

    i {
      margin-right: .333rem;
    }

    sup {
      top: -1em;
      font-size: .5em;
    }

    table {
      th {
        background-color: $light-gray;
      }

      tr:nth-child(odd) td {
        background-color: white;
      }
      tr:nth-child(even) td {
        background-color: $lightest-gray;
      }
    }
  }

  .footer {
    margin-top: 2.5rem;
    text-align: center;

    .btn {
      display: inline-block;
    }
  }

  #map {
    &::after { content: ""; }

    .info-legend {
      background-color: $white;
      padding: .5rem;

      i {
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        display: inline-block;
        margin-right: .25rem;
      }

      p {
        font-size: .75rem;
        margin: .75rem;
      }
    }
  }

  #delete-area {
    float: right;
    padding: 1.25rem 1.75rem;
    color: $dark-blue;
    font-weight: 500;
  }

  .new-polygon-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .loading {
    text-align: center;
    padding: 10rem;
  }

  .field-site {
    display: block;
    color: $dark-blue;
    font-size: 1.25rem;
    margin: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

}
