@import "leaflet";
@import "leaflet.draw";
@import "bootstrap-generators";

.static {
  #map {
    position: fixed;
    top: $navbarHeight;
    right: 360px;
    bottom: 150px;
    left: 0;
  }

  #sidebar {
    overflow: auto;

    position: fixed;
    top: $navbarHeight;
    right: 0;
    bottom: 150px;
    width: 360px;

    &.shadow {
      background: image-url('shadow.png') no-repeat center -50px;
    }

    h5 {
      text-transform: uppercase;
      text-align: center;
    }

    #draw-a-polygon {
      &:before {
        content: '';
        background: image-url('draw_a_polygon.png') no-repeat center center;
        display: block;
        height: 116px;
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }

    .btn-group {
      width: 100%;

      & > .btn {
        width: 33.333333333%;
        font-size: 12px;
      }
    }
    
    .width-100-percent {
      width: 100%;
    }
  }

  footer .navbar-inner {
    min-height: 150px;
    
    p {
      padding-top: 10px;
      font-weight: bold;
      color: $white;
    }
  }
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.table {
  color: #555;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  margin-bottom: 0;
  
  input {
    margin-top: 0;
  }
}

::selection {
	background: #384658; /* Safari */
}

::-moz-selection {
	background: #384658; /* Firefox */
}
