@import "leaflet";
@import "leaflet.draw";
@import "bootstrap-generators";

$border: #4f6580 !default;

body {
  padding-top: 100px;
}

#map,
#map_analysis {
  position: fixed;
  top: $navbarHeight;
  right: 360px;
  bottom: 150px;
  left: 0;
}

#sidebar {
  overflow: auto;
  float: right;
  top: $navbarHeight;
  width: 360px;
  background-color: #334657;

  h5 {
    text-transform: uppercase;
    text-align: center;
  }

  .tabs {
    background-color: #24323F;
    overflow: visible;
    margin: 0;
    padding-left: 0;
    height: 41px;
    border-bottom: 1px solid $border;

    li {
      text-transform: uppercase;
      cursor: pointer;
      list-style-type: none;
      float:left;
      padding: 10px;
      font-weight: bold;
      border: 1px solid $border;
      color: #546a85;

      &:nth-child(2) {
        border-left: 0;
        border-right: 0;
      }

      &#add-area {
        border-right: 1px solid $border;

        &:hover {
          background-color: #DDFD48;
          color: #526986;
        }
      }

      &.active {
        color: white;
        background: #334657;
        border-bottom: 1px solid #334657;
      }
    }
  }

  table.table {
    background: none;
    color: white;

    thead {
      border-bottom: 1px solid #C1DDF3;

      th {
        padding-bottom: 3px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.8em;
      }
    }

    td {
      border: none;
    }

    &.polygon-stats {
      tbody {
        tr {
          &:first-child {
            td {
              border: none;
            }

            background: #546476;
          }
        }
      }

      td {
        border-top: 1px solid #4D617A;
      }
    }

    &.total-stats {
      tbody {
        td {
          &:last-child {
            font-size: 1.8em;
            line-height: 1.2em;
          }

          span {
            font-size: 0.7rem;
            font-weight: normal;
          }

          font-size: 2.4em;
          padding-top: 15px;
          font-weight: bold;
        }
      }
    }
  }
}

#area {
  position: fixed;
  width: 340px;
  padding: 10px;
  padding-top: 5px;
  overflow: scroll;
  top: 140px;
  bottom: 150px;
  border-left: 1px solid $border;

  #new-polygon {
    text-transform: capitalize;
  }

  .btn {
    &.export {
      margin: 50px 0 50px 0;
    }
  }

  #delete-area {
    font-weight: bold;
    font-size: 0.9em;
    float: right;
    color: white;
  }

  .new-polygon-container {
    width: 100%;
    text-align: center;
    display: block;
    clear: both;
    padding: 30px 0 30px 0;
  }
}

.navbar {
  border-bottom: 1px solid $border;

  p {
    padding-top: 10px;
    font-weight: bold;
    color: $white;
  }

  .nav.pull-right {
    text-transform: uppercase;
  }

  .navbar-inner {
    border: 0;
  }
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  margin-bottom: 0;

  input {
    margin-top: 0;
  }
}

::selection {
  background: #384658; /* Safari */
}

::-moz-selection {
  background: #384658; /* Firefox */
}


footer {
  .navbar-inner {
    border: 0;
    min-height: 150px;
    border-top: 1px solid $border;
  }
}

