@import "colors";

.simple_form, .simple-form {
  .form__inputs, .form-inputs {
    margin-bottom: 1.5rem;
  }

  .control-group {
    margin-bottom: 1rem;
  }

  .control-label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
  }

  select[multiple] {
    padding: .25rem;
    border: solid 1px $light-gray;
  }

  .checkbox {
    display: block;
    margin-bottom: .5rem;

    input {
      box-sizing: border-box;
      padding: 0;
      margin-bottom: .5rem;
      margin-right: .25rem;
    }
  }

  #photos-table {
    margin-bottom: 1rem;
    th { border-bottom: none; }
  }
}
