@import 'z-index';
@import 'colors';

@import 'elements/full-page-overlay';
@import 'elements/modal-header';
@import 'elements/form-element';

.full-page-overlay { @include full-page-overlay($dark-blue) }

.login-modal-container, .tool-modal-container {
  @include z-index(modal);

  display: block;
  align-self: flex-start;

  width: 25%;
  margin: auto;
  padding: 24px;

  font-size: 16px;
  background-color: $white;

  &.hidden { display: none; }

  header { @include modal-header() }
  form   { @include form-element() }
  ul     { list-style: none; }
}
