@import 'h5bp';
@include h5bp-normalize;

@import 'leaflet';
@import 'leaflet.draw';

@import "font-awesome-sprockets";
@import "font-awesome";

@import 'colors';
@import 'mixins';

@import 'elements/oval-button';
@import 'elements/link-with-icon';
@import 'elements/row';
@import 'elements/column';

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  color: $gray;

  *:focus { outline: none; }

  fieldset { border: none; }
  h1 { margin: 0px; }
  a { text-decoration: none; color: inherit; }
  button { border: none; padding: 0; }
}

.pull-left  { float: left }
.pull-right { float: right }
.hidden     { display: none }
.clearfix   { overflow: hidden }

.u-hide { display: none; }

a.with-icon { @include link-with-icon(arrow-with-circle-right-dark-blue); }

.title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.row  { @include row($padding: 30px 0px) }
.half { @include column(50%, 20px) }

// reset button
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}
