@import "colors";
@import "flexbox";

.tabs {
  height: 3rem;
  background-color: $lightest-gray;
  border-bottom: solid 1px $light-gray;
}

.tabs__tab {
  cursor: pointer;
  color: $dark-blue;
  border-right: solid 1px $light-gray;
  line-height: 3rem;
  float: left;
  padding: 0 1.5rem;
  font-weight: 500;
  font-size: .9rem;

  &.active {
    background-color: $white;
    border-bottom: solid 1px $white;
  }
}

.tabs__tab--new {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.tabs__tab--sites {
  background-color: $very-dark-blue;
  color: $white;
  border-right: solid 2px $very-dark-blue;

  &.active {
    color: $very-dark-blue;
    background-color: $white;
    border-bottom: solid 1px $white;
  }
}
