.validations, .areas {
  main > div {
    width: 100%;
    height: 700px;
  }

  #map {
    &::after { content: ""; }
  }

  #sidebar {
    float: left;
    margin-left: 2.5rem;
    width: calc(40% - 2.5rem);
  }

  #edit-validation {
    display: inline-block;
    margin-bottom: 1.5rem;
  }
}
