<div class="page-header">
  <a href="#/new" class="btn btn-primary">
    <i class="icon-plus icon-white"></i>
    New Validation
  </a>
  <h1>Listing validations</h1>
</div>

<div id="validations">
</div>

<script type="text/javascript">
  $(function() {
      window.router = new BlueCarbon.Routers.ValidationsRouter({
        validations: <%= @validations.to_json.html_safe -%>,
        areas: <%= @areas.to_json.html_safe %>
      });
    Backbone.history.start();
  });
</script>
