<div id="validations" class="static">
</div>


<script type="text/javascript">
  $(function() {
      window.router = new BlueCarbon.Routers.ValidationsRouter({
        validations: <%= @validations.to_json(include: [:admin, photos: {only: :id, methods: [:attachment_url, :thumbnail_url]}]).html_safe -%>,
        areas: <%= @areas.to_json.html_safe %>
      });
    Backbone.history.start();
  });
</script>
