<%= content_for :title, "New validation" %>

<div class="admin">
  <div id="new-validation" data-country-bounds="<%= @current_country.bounds.reverse.to_json %>" data-country-iso="<%= @current_country.iso %>"></div>
</div>
