<footer id="footer">
  <div class="main-container">
    <div class="row">
      <a href="<%= home_path %>" class="home-link pull-left">
        <img src="<%= asset_path 'main-white-logo.png' %>" class="main-logo"></img>
        <div class="mapping-tool">Mapping tool</div>
      </a>

      <%= render 'navigation_links' %>
    </div>
    <div class="row">
      <% if @current_country %>
        <p class="flag-icon flag-icon-gr"><%= @current_country.name %></p>
        <p class="pull-right">The Blue Forests Mapping Toolkit was developed by</p>
      <% else %>
        <p>The Blue Forests Mapping Toolkit was developed by</p>
      <% end %>
    </div>
  </div>
</footer>
