<header id="header">
  <div class="main-container">
    <a href="<%= home_path %>" class="home-link pull-left">
      <div class="main-logo"></div>
      <div class="mapping-tool">Mapping tool</div>
    </a>

    <%= render 'navigation_links' %>
  </div>
</header>
