<header class="header__container">
  <div class="header">
    <a href="<%= home_path %>" class="home-link pull-left">
      <img src="<%= asset_path 'main-logo.png' %>" class="main-logo"></img>

      <% if @current_country %>
        <div class="mapping-tool"><%= @current_country.name %></div>
      <% end %>
    </a>

    <%= render 'navigation_links' %>
  </div>
</header>
