<header id="header">
  <div class="main-container">
    <div class="row">
      <a href="<%= home_path %>" class="home-link pull-left">
        <img src="<%= asset_path 'main-logo.png' %>" class="main-logo"></img>
        <div class="mapping-tool">Mapping tool</div>
      </a>

      <%= render 'navigation_links' %>
    </div>
  </div>
</header>
