<div class="hidden full-page-overlay">
  <div class="login-modal-container hidden"></div>
  <% if @current_country.nil? %>
    <div class="tool-modal-container hidden">
      <header>
        <h1>Please choose your country</h1>
        <button class="x-button"></button>
      </header>
      <main>
        <ul>
          <% Country.order(:name).pluck(:subdomain, :name).each do |(subdomain, name)| %>
            <li> <%= link_to name, tool_url(subdomain: Subdomainer.resolve(subdomain)), class: 'with-icon' %> </li>
          <% end %>
        </ul>
      </main>
    </div>
  <% end %>
</div>

